

        /* 태그요소를 선택하는 선택자 (selector)를 지정합니다. */
        td { /*선택자 : td태그 ,모든 td태그에 적용 */
           border : 1px solid gray;
           text-align: center;
        }
        table{
            width:70%;
            margin-right: 5px;
            margin-left: 30px;
        }
        th{
            background-color:blue;
            border : 1px solid gray;
            color:azure;
        }
        td,th{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        caption{
            font-size: 1.2em;
        }
        .name{
            color:powderblue;
        }
        td.name{ /* td 태그 class = "name" 모두를 선택합니다.*/
           /* color:chocolate; */
        }
        caption{
            background-color: gray;
        }

