tr{
    border : 1px solid gray;
    text-align: center;
    height: 30px;
    font-style: initial;
} 
td{
    border : 1px solid gray;
    text-align: center;
}  
th{
    text-align:center;
}


.study_timetable{
    height: 200px;
    width:80%;
    margin-right: 5px;
    margin-left: 30px;
    border-collapse: collapse;
    float:left;
}
.name{
    background-color:palevioletred;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 15px;
    border-top: 15px;
}

.name2{
    background-color: palegoldenrod;
}